# Python
__pycache__/
*.py[cod]
*$py.class

# Node & Build
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Environment & Editors
.env
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
